@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --color-light: #fffdf6;
    --color-dark: #0a1f16;
    --color-primary: #27391c;
    --color-secondary: #255f38;
    --color-info: #0ba25e;
    --color-success: #189904;
    --color-warning: #f5bf04;
    --color-danger: #ec024b;
    --color-muted: #999894;
}

/* This changes based on the current variable */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #fffdf6;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins);
    scroll-behavior: smooth !important;
}
