@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=tanker@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");

@import "tailwindcss";

:root {
    --background: #fffdf6;
    --foreground: #171717;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-tanker: "Tanker", sans-serif;
    --font-anek: "Anek Devanagari", sans-serif;

    --color-light: #fffdf6;
    --color-dark: #0a1f16;
    --color-primary: #27391c;
    --color-secondary: #255f38;
    --color-info: #0ba25e;
    --color-success: #189904;
    --color-warning: #f5bf04;
    --color-danger: #ec024b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
